<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video Game ML App</title>
</head>

<body>

<h1>Video Game Top Seller Predictor</h1>

<form action="/predict" method="post">

    <label for="platforms">Platform</label><br>
    <input type="text" id="platforms" name="platforms" required><br><br>

    <label for="publishers">Publisher</label><br>
    <input type="text" id="publishers" name="publishers" required><br><br>

    <label for="releaseyear">Release Year</label><br>
    <input type="number" id="releaseyear" name="releaseyear" required><br><br>

    <input type="submit" value="Predict">

</form>

{% if prediction_text %}
<h2>{{ prediction_text }}</h2>
{% endif %}

</body>
</html>